h1 {
  font-weight: 300;
  margin: 30px;
  color:#707070
}
strong {
  font-weight:900;
}
button {
  transition: color 1000ms ease-in-out;
  font-size: 40px;
  margin: 30px;
}
.is-red {
  color: #C98E76;
}
