body {
  background-color: azure;
}
h1 {
  color: steelblue;
}
h2 {
  color: tan;
}
h4 {
  color: lightsteelblue;
}
p {
  color: steelblue;
}
header {
  min-height: 50vh;
  width: auto;
  color: tan;
  position: relative;
}
nav {
  display: inline;
  justify-content: space-between;
  position: absolute;
  color: tan;
}
nav-links {
  text-align: right;
}
dropdown {
  position: relative;
  display: inline-block;
}
button {
  position: relative;
  display: inline-block;
}
dropdown-info {
  position: absolute;
  background-color: lightsteelblue;
}
