h1 {
  color: saddlebrown;
  font-style: italic;
  font-stretch: extra-expanded;
  padding-left: 13px 20px;
  font-family: "Lucida Console", "Courier New", monospace; 
}

h2 {
  padding-left: 13px 20px;
}

 hr {
   color: chocolate;
 }

 .assignment1-button {
   color: cornflowerblue;
   background-color: bisque;
   font-style: normal;
   font-size: 18px;
 }

.fancy-button {
  color: #fff;
  background-color: #dc5b5d;

  font-size: 20px;
  padding: 13px 20px;

  border: none;
  border-radius: 30px;

  transition: background-color 500ms ease-in-out;
}

.fancy-button:hover {
  background-color: black;
  padding-left: 13px 20px;
}

.moved {
  margin-left: 200px;
}
